{% extends 'store/base.html' %}
{% load static %}
{% block title %}CheckOut{% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row mt-5">
     <div class="col-sm-6">
       <h4>Order Summary</h4>
       <hr>
       
       {% for item in cart_items  %} 
         <div class="card mb-2">
           <div class="card-body">
             <table class="table table-stripeds table-bordereds">
             <thead>
                <tr>
                    <th>Product</th>
                    <th>Product Name</th>
                    <th>Qty</th>
                    <th>Price</th>

                </tr>
                
             
                 {% for item in cart_items  %} 
                  <tr>
                    <td>
                        <img src="{{ item.product.product_image.url }}" height="50px" width ="50px" class="me-2">
                    </td>
                    <td><h6>{{item.product.title}}</h6></td>
                    <td>{{item.product.quantity}} 1 </td>
                    
                    <td>{{item.product.selling_price | stringformat:'d'}}</td>
                  </tr>
                 {% endfor %}
            </tbody>
          </table>
          <h6 class="fw-bold">
            Price<span class="float-end">Rs. {{item.product.selling_price }}</span><br> <br>
            Shipping<span class="float-end">Rs. 70.00</span> <br><hr>
            Total Cost<span class="float-end">Rs {{totalamount | stringformat:'d'}}</span>
          </h6>
      
     
      </div>
    </div>
  </div>
  

  
  <div class="col-sm-3 offset-sm-1">
    <h4>Select Shipping Address</h4>
    <hr>
    <form action="/paymentdone">
    {% for ad in add  %}
      <div class="card">
        <div class="card-body">
        <h5>{{ad.name}}</h5>
        <p>{{ad.locality}}, {{ad.city}}, {{ad.state}} - {{ad.zipcode}}</p>
        </div>
      </div>
        <div class="form-check mt-2 mb-5">
          <input class="form-check-input" type="radio"  name="custid" id="custadd{{forlop.counter}}"
          value="{{ad.id}}">
          <label class="form-check-label fw-bold" for="custadd{{forlop.counter}}">
            Address: {{forlop.counter}} </label>
        </div>
        {% endfor %}
        
        <div class="text-end">
           {% comment %} <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Continue</button> {% endcomment %}
           <div id="paypal-button-container"></div> 
        </div>
      </form>
      {% endfor %}
  </div>
</div>

</div>

{% endblock main-content %}  

{% block payment-gateway %}
<script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>

 <script>
     // Render the PayPal button into #paypal-button-container
     paypal.Buttons({

         // Set up the transaction
         createOrder: function(data, actions) {
             return actions.order.create({
                 purchase_units: [{
                     amount: {
                         value: '{{totalamount}}'
                     }
                 }]
             });
         },

         // Finalize the transaction
         onApprove: function(data, actions) {
             return actions.order.capture().then(function(orderData) {
                 // Successful capture! For demo purposes:
                 console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                 var transaction = orderData.purchase_units[0].payments.captures[0];
                 alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                 // Replace the above to show a success message within this page, e.g.
                 // const element = document.getElementById('paypal-button-container');
                 // element.innerHTML = '';
                 // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                 // Or go to another URL:  actions.redirect('thank_you.html');
             });
         }


     }).render('#paypal-button-container');
 </script>
{% endblock payment-gateway %}  